@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Gluten&family=Karla&display=swap');
* {
	margin: 0;
}

body {
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: 'Courgette', cursive;
	height: 100vh;
	background-color: lightskyblue;
}

h1 {
	font-size: 100px;
	font-weight: 800;
	position: relative;
	/* color: lightskyblue; */
	text-shadow: -1px -1px 0  #ffffff, -1px -1px 0  #ffffff;
}

h1::before {
	content: "WEB DESIGN";
	color: cadetblue;
	text-shadow: none;
	position: absolute; 
	top: 0;
	left: 0;
	width: 0px;
	overflow: hidden;
	border-right: 20px solid cadetblue;
	white-space: nowrap;
	animation: move 3s linear infinite;
}

@keyframes move {
	to {
		width: 100%;
	}
}