* {
    margin: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightyellow;
    height: 100vh;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 50px;
    background-color: dodgerblue;
}
