@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Gluten&family=Karla&display=swap');

* {
    margin: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Gluten', cursive;
    font-size: 20px;
    height: 100vh;
    perspective: 1000px;
}

.button {
    width: 200px;
    height: 110px;
    background-color: rgb(204, 125, 60);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border: 1px solid #333;
    box-shadow: 0 40px 0 0 rgb(202, 158, 134);
    transform: rotateX(60deg);
}

.button:active {
    transform: rotateX(60deg) translateY(40px);
    box-shadow: 0 8px 0 0 rgb(202, 158, 134);
}
