@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Gluten&family=Karla&display=swap');

* {
	margin: 0;
}

body {
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: 'Gluten', cursive;
	height: 100vh;
	background-color: lightcoral;
}

h1 {
	font-size: 250px;
	font-weight: 800;
	position: absolute;
	letter-spacing: 18px;
}

.text {
	color: lightgray;
	text-shadow: -2px -2px 0 #000000, -2px -2px 0 #000000;
}

.text-liquid {
	color: lightskyblue;
	animation: wave 3s ease-in-out infinite;
}

@keyframes wave {
	0%,
	100% {
		clip-path: polygon(
			0% 100%,
			0% 50%,
			22% 59%,
			50% 65%,
			85% 60%,
			100% 49%,
			100% 100%
		);
	}
	50% {
		clip-path: polygon(
			0% 100%,
			0% 67%,
			20% 56%,
			40% 46%,
			68% 48%,
			100% 60%,
			100% 100%
		);
	}
}
